@import '../../../assets/css/variables';

#game {
  color: $white;

  .select-players {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 150px;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;

    h4,
    p {
      margin: 0;
    }

    .player {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }

    &.players-2 {
      justify-content: center;

      .comp-1 {
        position: absolute;
        top: 15px;
      }

      .human {
        position: absolute;
        bottom: 15px;
      }
    }

    &.players-3,
    &.players-4 {
      justify-content: center;

      .comp-1 {
        position: absolute;
        left: 15px;
      }

      .human {
        position: absolute;
        bottom: 15px;
      }
    }

    &.players-3 {
      .comp-2 {
        position: absolute;
        right: 15px;
      }
    }

    &.players-4 {
      .comp-2 {
        position: absolute;
        top: 15px;
      }

      .comp-3 {
        position: absolute;
        right: 15px;
      }
    }
  }
}
