@import '../../../assets/css/variables';

.error-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $red;

  .error-holder {
    padding: 15px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}
